* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#login-box{
    background: gainsboro;
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px 15px rgba(0,0,0,0.2);
}

.user-input{
    text-align: center;

}
#login-box .user-input.username{
    margin-top: 10%;
    position: absolute;
}
#login-box .user-input.password{
    margin-top: 30%;
    position: absolute;
}
.log-in-confirm{
    background: rgb(255, 166, 0);
    width: 60%;
    position: absolute;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70%;
    cursor: pointer;
    transition: 500ms;
}
.log-in-confirm:hover{
    background:rgb(255, 178, 44);
}
