* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

div.login-box{
    background: gainsboro;
    width: 25%;
    position: absolute;
    left: 40%;
    top: 25%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input.username{
    text-align: center;
    margin-top: 10%;
    position: absolute;
}

.user-input.password{
    text-align: center;
    margin-top: 30%;
    position: absolute;
}

.sign-in-confirm{
    background: rgb(255, 166, 0);
    width: 60%;
    position: absolute;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70%;
    cursor: pointer;
    transition: 500ms;
}
 
.sign-in-confirm:hover{
    background:rgb(255, 178, 44);
}

.no-acc{  
    width: 80%;
    position: absolute;
    left: 12%;
    top: 57%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.no-acc a{
    display: flex;
    margin: 15px;
    transition: 500ms;
}
 
div.no-acc a:hover{
    color: rgb(255, 178, 44);
    
}
