* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    color: white;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    z-index: 999;
    top: 0;
}

nav h1{
    margin-left: 2%;
}

nav ul{
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 2%;
}

nav li{
    list-style: none;
}
nav li a{
    display: flex;
    margin: 15px;
    text-decoration: none;
    color: white;
    transition: 500ms;
}

nav li a:hover{
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.line-decor{
    height: 1px;
    width: 90%;
    position: absolute;
    top: 15%;
    margin-left: 5%;
}

.line-decor.orange{
    background:rgb(255, 166, 0);   
}

.line-decor.blue{
    background:rgb(22, 143, 255);
    margin-top: 15px;
}

.intro-lines{
    /* border: red 5px solid; */
    position: absolute;
    width: 100%;
    height: 120%;
}

.intro-box{
    background: black ;
    position: absolute;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.intro-text{
    text-align: center;
    color: white;
    width: 45%;
    border: rgba(255,255,255, 0.4) 1px solid;
    margin-left: 50px;
    font-size: 1rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h3{
    text-decoration: underline;
    color: rgba(255,255,255, 0.8)
}

.map-img{
    position:absolute;
    right: 0;
    margin-right: 50px;
    
}

.btn-sections{
    position:relative;
    top: 80vh;
    margin-top: 25px;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: space-evenly;
}

.home-section{
    background: rgb(240, 240, 240);
    width: 30%;
    height: 50vh;
    text-align: center;
    color:rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px 15px rgba(0,0,0,0.2);
    margin-top: 55px;
    border-radius: 5px;
}
.home-section h2{
    margin-top: 15px;
}

.home-section p {
    margin-top: 15px;
    margin-left: 55px;
    margin-right: 55px;
}

.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    width: 30%;
    height: 10%;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 500ms;
    border: gray 2px solid;
    color:whitesmoke;
}

.btn-link p{
    margin: 0;
}

.btn-link.start{
    background:rgb(255, 166, 0);
}
.btn-link.friends{
    background:rgb(22, 143, 255);
}

.btn-link.start:hover{
    background:rgb(255, 215, 145);
}

.btn-link.friends:hover{
    background:rgb(109, 185, 255);
}

.problem-display{
    width: 100%;
    height: 35vh;
    background: rgb(235, 235, 235);
    position: relative;
    top: 90vh;
    display: flex;
    text-align: center;
    align-items: center;

}

.problem-display p{
    margin: 150px;
}

footer{
    background: rgb(180, 180, 180);
    position: relative;
    top: 100vh;
    width: 100%;
    height: 160px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.2);
}

footer ul{
    margin-top: 25px;
    display: flex;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    cursor: pointer;
    margin: 25px;
}

footer ul li a:hover{
    color:rgb(0, 76, 148);
}