<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>

    <nav>
        <h1>On The Way</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/templates/network.html'>Network</a></li>
            <li><a href='/login'>Login</a></li>
        </ul>
    </nav>



    <div class='intro-box'>
        <div class='intro-lines'>
            <div class="line-decor orange"></div>
            <div class="line-decor blue"></div>
        </div>

        <div class="intro-text">
            <h3>What does it do?</h3>
            <br>
            <p>Your circle can now pick each other up On The Way! To help preserve
                our limited supply of oil and petroleum, as well as city congestion, On The Way 
                gives its users an opportunity to help our communities as well as socialiize with one
                another. 
            </p>
            <br>
            <br>
            <h3>How does it work?</h3> 
            <br>
            <p>
                It's simple! First, you need to make a network; people who you would be
                comfortable riding with. Next, put up offers to drive or requests to pick up, and your network
                will cover you up from there.
            </p>
        </div>
        <image src='{{url_for("static", filename="images/apple_map.jpeg")}}' width='600' height='400' class='map-img'></image>
    </div>

    <div class='btn-sections'>

        <div class='home-section'>
            <h2>Join us</h2>
            <p> Motor vehicles contribute to congested streets and 
                to our ongoing issue of climate change because of their emissions.
                Not only will our approach leave you with friends, but it will also
                help our world tremendously! 
                Join us in our mission to reduce heavy traffic in your city.</p>
            <div class='btn-link start'>
                <p>Get started</p>
            </div>
        </div>

        <div class='home-section'>
            <h2>Friends</h2>
            <p>The best part about carpooling is that you get to be with
                friends and build networks. Therefore, you will not have to experience
                one of those long, awkward car rides that you may experience with other 
                drivers!
            </p>
            <div class='btn-link friends'>
                <p>Connect now</p>
            </div>
        </div>

    </div>

    <div class="problem-display">
        <p>
            In our modern world, there are countless ways to commute: public transportation, 
            taxis, taxi companies, bikes, motorcycles, etc.
            <br>
            <br>
            Why, out of all of these options, would you carpool? 
            <br>
            The answer is simple. 
            Millions of cars are used on a daily basis, and unfortunately there are problems
            that arise when using so many motorized vehicles. Having this many cars on the road
            causes issues that are inconvenient to everyone such as heavy traffic, pollution, a
            depletion of natural resources, and safety hazards. 
            <br>
            <br>
            When you sign up with On Our Way, you can feel proud as the users of this app will not
            actively contribute to these inconveniences. Instead, you can have a good time with some
            great people. 
        </p>
    </div>

    <footer>
        <ul class='nav-links'>
            <li><a>Home</a></li>
            <li><a>Network</a></li>
            <li><a>Log-in</a></li>
        </ul>

        <ul class='about'>
            <li><a>Our Mission</a></li>
        </ul>

    </footer>

    <script src='{{url_for("static", filename="site.js")}}'></script>
</body>
</html>