<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <nav>
        <h1>Home page</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/templates/network.html'>Network</a></li>
            <li><a href='/templates/login.html'>Login</a></li>
        </ul>
    </nav>

    <div class="login-box">
        <div class='user-input username'>
            <h2>Username: </h2>
            <input type='text' size='35'>
        </div>
        <div class='user-input password'>
            <h2>Password: </h2>
            <input type='password' size='35'>
        </div>

        <div class="sign-in-confirm">
            <h4>Log in</h4>
        </div>
    </div>

    <div class="no-acc">
        <a>Need an account?</a>
    </div>
</body>
</html>