<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cc5215791e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/network.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Network</title>
</head>
<body>
    <nav>
        <h1>On The Way</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/network'>Network</a></li>
            <li><a href='/login'> {{user}} </a></li>
        </ul>
    </nav>

    <div class='friends-container'>
        <div id='friends-dropdown-btn' class=''>
            <i class="fas fa-caret-down"></i>
        </div>
        <p>View Network</p>

        <ul id="friends-dropdown" class=''>
            {% for person in contacts %}
                <li id='result' class=''> {{ person.username }} </li>
            {% endfor %}
        </ul>
    </div>


    
    <div class="searchbar" >
        <input type="text" placeholder='Search for friends...'>
        <i class="fas fa-search"></i>

        <div class="auto-complete-box">
            <ul class='results'>
                {% for result in sr %}
                    <li id='result' class=''>
                        {{result.username}} 

                    </li> 
                    
                {% endfor %}
            </ul> 
        </div>

    </div>

    <p class='map'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.
        7159953019!2d-88.01214843407938!3d41.833392503391295!2m3!1f0!2f0!3f0!3m2!1i1024
        !2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL!
        5e0!3m2!1sen!2sus!4v1627153132375!5m2!1sen!2sus" width="800" height="600" 
        style="border:0;" 
    allowfullscreen="" loading="lazy" class='map-frame'></iframe>
    </p>

    <script src='{{url_for("static", filename="js/site.js")}}'></script>
</body>
</html>