<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='network.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Home page</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/network'>Network</a></li>
            <li><a href='/login'>Login</a></li>
        </ul>
    </nav>

    <div id="friends-dropdown" class=''>

    </div>


    <script src='{{url_for("static", filename="site.js")}}'></script>
</body>
</html>